@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300&display=swap');

/* base styles */
html, body, #root {
  height: 100%;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  background: #FFEEDB;
  background-image: url("https://www.transparenttextures.com/patterns/pineapple-cut.png");
  margin: 0;
  font-size: 1.4em;
  color: #0A1D37;
}
h1,h2 {
  font-weight: 600;
  margin: 0;
}

h3,p { 
  font-weight: 300;
  margin: 0;
}
input, textarea {
  color: #333;
  padding: 8px;
  font-size: 1em;
  border-radius: 4px;
  border: 1px solid #FFD8CC;
  background-color: #FFD8CC;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  display: block;
  width: 100%;
  box-sizing: border-box;
}
textarea:focus, input:focus{
  outline: none;
  border-color: #0A1D37;
}

.page-title {
  text-align: center;
  margin: 40px auto;
  color: #0A1D37;
}
.loading, .error {
  text-align: center;
  margin: 40px auto;
}
/* dark theme */
.page-title.dark,
.loading.dark,
.error.dark {
  color: #FFBD9B;
}
